body {
  background-color: rgb(241, 180, 67);
  font-family: "Raleway", sans-serif;
  font-size: 19px;
}

h1 {
  border: 3px solid #c9082a;
  color: white;
  background-color: #9ec0ff;
  margin: 9px;
  padding: 5px;
  text-align: center;
}

/* nav {
  margin-left: 1220px;
  margin-top: 6%;
  border-left: 2px solid #9ec0ff;
  padding-left: 5px;
  color: white;
  font-weight: bold;
} */

#stat {
  background-color: #9ec0ff;
  color: white;
  font-size: 19px;
}

.tick {
  font-size: 15px;
}

#players {
  display: block;
  margin-top: 22%;
}

#teams {
  display: block;
  margin-top: 22%;
}

.tick:hover,
circle:hover {
  cursor: pointer;
}

#playersalarytext {
  color: white;
  font-size: 19px;
}
